---
import IndexLayout from '../layouts/IndexLayout.astro';
import cover from '../assets/cover.png';
import logo from '../assets/pocket_dragon_logo.svg';
import pdf from '../assets/pocket-dragon-2-edicao.pdf';

import { getCollection, getEntry } from 'astro:content';

const chapters = await getCollection('capitulos');
chapters.sort((a, b) => a.data.number - b.data.number);

const baseUrl = import.meta.env.BASE_URL;
---
<IndexLayout>
	<header>
		<div class="container">
			<img class="logo" src={logo.src} alt="Pocket Dragon 2.0" />
		</div>
	</header>

	<section>
		<div class="container">
			<h2>Capítulos</h2>
			<div class="two-cols">
				<img id="cover" src={cover.src} alt="Pocket Dragon 2.0" />
				<ul class="index">
					{chapters.map((chapter) => (
						<li>
							{chapter.data.number}. <a href={`${baseUrl}/capitulos/${chapter.data.slug}`}>{chapter.data.title}</a>
						</li>
					))}
				</ul>
			</div>
		</div>
	</section>
	<section class="download">
		<div class="container">
			Baixe o PDF original do Pocket Dragon 2ª edição <a href={pdf} download>aqui</a>.
		</div>
	</section>
</IndexLayout>

<style>
	header {
		padding-block: 2rem;
	}
	.logo {
		display: block;
		max-width: 400px;
		margin-inline: auto;
	}
	#cover {
		width: 100%;
		mix-blend-mode: multiply;
		margin-inline: auto;
	}

	.index {
		list-style: none;
		padding: unset;
		margin: unset;
	}

	.index li {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid var(--color-border);
	}

	.download {
		margin-top: 2rem;
	}

	.download .container {
		background-color: var(--color-border);
		padding: 2rem;
		border-radius: 0.25rem;
	}

	@media (max-width: 600px) {
		#cover {
			max-width: 400px;
		}
	}
</style>