---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import cover from '../assets/cover.png';
import logo from '../assets/pocket_dragon_logo.svg';

import { getCollection, getEntry } from 'astro:content';

const chapters = await getCollection('chapters');
chapters.sort((a, b) => a.data.number - b.data.number);


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->

	<header>
		<div class="container">
			<img class="logo" src={logo.src} alt="Pocket Dragon 2.0" />
		</div>
	</header>

	<section>
		<div class="container">
			<h2>Capítulos</h2>
			<div class="two-cols">
				<img id="cover" src={cover.src} alt="Pocket Dragon 2.0" />
				<ul class="index">
					{chapters.map((chapter) => (
						<li>
							{chapter.data.number}. <a href={`/chapters/${chapter.data.slug}`}>{chapter.data.title}</a>
						</li>
					))}
				</ul>
			</div>
		</div>
	</section>
</Layout>

<style>
	header {
		padding-block: 2rem;
	}
	.logo {
		display: block;
		max-width: 400px;
		margin-inline: auto;
	}
	#cover {
		width: 100%;
		mix-blend-mode: multiply;
		margin-inline: auto;
	}

	.index {
		list-style: none;
		padding: unset;
		margin: unset;
	}

	.index li {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid var(--color-border);
	}

	@media (max-width: 600px) {
		#cover {
			max-width: 400px;
		}
	}

</style>