---
import { getCollection, render } from 'astro:content';
import ChapterLayout from '../../layouts/ChapterLayout.astro';

export async function getStaticPaths() {
	const chapters = await getCollection('capitulos');
	chapters.sort((a, b) => a.data.number - b.data.number);

	return chapters.map((chapter, index) => ({
		params: { slug: chapter.data.slug },
		props: { chapter, index, chapters },
	}));
}

const { chapter, index, chapters } = Astro.props;
const { Content } = await render(chapter);

const previousChapter = index > 0 ? chapters[index - 1] : null;
const nextChapter = index < chapters.length - 1 ? chapters[index + 1] : null;

const baseUrl = import.meta.env.BASE_URL;
---

<ChapterLayout number={chapter.data.number} title={chapter.data.title}>
	<section>
		<nav class="container chapter-navigation">
			<!-- link to home -->
			<a href={`${baseUrl}/`}>← Índice</a>
			<div>
				{previousChapter && (
					<a class="prev" href={`${baseUrl}/capitulos/${previousChapter.data.slug}`}>← {previousChapter.data.title}</a>
				)}
				{nextChapter && (
					<a class="next" href={`${baseUrl}/capitulos/${nextChapter.data.slug}`}>{nextChapter.data.title} →</a>
				)}
			</div>
		</nav>
	</section>

	<section>
		<div class="container">
			<h2><span>{chapter.data.number}.</span> {chapter.data.title}</h2>
			<p>{chapter.data.intro}</p>
			<Content />
		</div>
	</section>
</ChapterLayout>

<style>
	.chapter-navigation {
		display: flex;
		justify-content: space-between;
		padding-block: 2rem;

		& > div {
			display: flex;
			justify-content: space-between;
			gap: 2rem;
		}
	}
</style>